.subject-content {
    height: 215px;
    overflow: auto;
}

.height-105 {
    height: 105px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container {
    padding: 10px;
    img {
        width: 150px;
        height: 200px;
    }
}