a,
a:visited,
a:hover {
  color: white;
  text-decoration: none;
  margin: 0px 10px;
}

a:hover {
  font-weight: bold;
}

a.active {
  color: #1976d2;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
}

.toolbar {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
}

.toolbar img {
    margin: 0 16px;
}

.links-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}